.container{};
.container-fluid{};
.btn{};
.border-x{
    width: 300px;
    border: 50px solid green;
    padding: 25px;
    margin: 25px;
}
.bg-c{background-color:yellow;}
h1{text-align:center}
button{margin:3%;
       width:100%;
}
input{margin:3%;
border: 3px solid green}