.container{};
.container-fluid{};
.btn-success{};
.btn-primary{};

.btn{align:center;
      }
q{background-color:#555;
      width:100px;
      font-size:27px;
      font:Courier New;
      color:white;}

p{background-color:#ccc;
  width:100px; 
  font-size:18px}
.myQuote{margin:10px
          }
h1{font-size:100px;
    text-align:center;
    background-color:#ccc}